<%- include('../template/header.ejs') %>
</head>

<body>

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="/admin" class="brand-logo">
                <?xml version="1.0" encoding="utf-8"?>
                <svg class="logo-abbr" width="53" height="53" viewBox="7.4328 18.3392 73.0947 71.5228"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 42.14620779672575, 59.60234864953678)"
                        d="M0 0L9 0L8 12L5 38L3 56L-29 62L-56 69L-78 77L-101 88L-116 98L-126 107L-133 117L-137 128L-138 133L-138 144L-134 157L-128 166L-119 172L-107 175L-94 174L-82 169L-73 162L-66 152L-61 141L-56 123L-53 104L-52 92L-50 89L-28 83L-2 78L3 78L4 79L3 107L0 130L-5 151L-13 171L-21 185L-32 199L-40 207L-54 217L-71 225L-85 229L-105 231L-122 229L-134 226L-151 218L-163 209L-173 199L-182 185L-189 169L-192 157L-193 150L-193 127L-190 112L-185 97L-178 84L-169 72L-160 62L-149 52L-134 42L-118 33L-92 22L-67 14L-36 6L0 0z"
                        stroke="none" fill="#1C3D63" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 46.46901550097786, 58.03041857526328)"
                        d="M0 0L19 9L41 19L51 23L48 46L46 68L46 108L49 131L53 148L59 163L67 174L74 180L84 185L93 187L101 187L113 184L119 180L126 172L131 160L132 147L130 137L123 123L116 115L104 106L88 97L66 86L66 72L69 43L71 31L73 30L98 39L123 51L141 63L153 74L164 85L173 98L180 112L185 128L187 140L187 160L184 177L177 195L170 206L161 217L151 226L135 235L121 240L112 242L85 242L68 238L53 232L42 225L32 217L24 209L13 194L4 177L-4 153L-8 131L-10 105L-10 80L-8 49L-4 19L0 0z"
                        stroke="none" fill="#1D3D63" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 43.71813787099927, 18.339184199857474)"
                        d="M0 0L18 2L35 7L48 14L60 23L71 34L81 49L87 62L92 79L94 94L94 110L91 129L86 146L78 164L69 181L55 202L43 218L34 229L25 239L18 247L10 255L9 257L7 257L7 259L-1 266L-7 272L-9 272L-23 245L-36 224L-30 217L-22 209L-15 201L-2 186L9 171L18 157L27 141L35 121L38 110L39 99L37 86L33 76L26 67L16 60L6 57L-4 57L-15 61L-23 67L-30 76L-34 85L-36 95L-36 105L-32 122L-24 141L-16 156L-12 162L-13 166L-26 182L-37 194L-47 205L-51 204L-62 188L-73 169L-81 152L-87 134L-90 120L-91 112L-91 88L-88 73L-83 58L-76 45L-68 34L-62 27L-51 18L-40 11L-24 4L-9 1L0 0z"
                        stroke="none" fill="#1C3D63" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 66.90410646653334, 36.54737422685881)"
                        d="M0 0L17 0L31 2L46 7L60 14L71 22L80 30L90 43L98 59L102 72L104 90L103 104L98 123L90 139L81 152L68 165L55 174L41 181L20 187L4 189L-19 189L-44 185L-67 179L-94 170L-125 157L-145 147L-159 139L-157 135L-145 123L-138 115L-125 100L-123 97L-118 98L-91 111L-65 121L-44 127L-24 131L-15 132L9 132L21 129L32 123L40 115L46 104L48 95L48 85L44 74L38 66L27 59L17 56L3 56L-6 58L-20 65L-34 76L-52 94L-57 101L-63 100L-89 89L-106 81L-109 79L-107 74L-96 60L-84 46L-71 33L-54 20L-40 12L-29 7L-17 3L0 0z"
                        stroke="none" fill="#1C3C63" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 19.222227546903895, 36.54737422685881)"
                        d="M0 0L19 1L36 5L51 11L62 17L76 27L91 40L104 54L117 71L130 89L143 110L155 132L166 155L166 157L130 164L112 168L107 160L97 141L86 123L74 106L63 93L56 85L47 76L34 66L24 60L15 57L10 56L-4 56L-16 60L-26 67L-32 75L-35 83L-35 97L-31 109L-23 120L-12 127L-2 131L4 132L28 132L53 128L63 126L73 141L85 162L91 175L73 181L57 185L39 188L29 189L9 189L-7 187L-28 181L-44 173L-56 164L-64 157L-75 143L-84 126L-89 109L-90 103L-90 77L-86 61L-81 50L-74 38L-61 24L-47 14L-30 6L-11 1L0 0z"
                        stroke="none" fill="#1C3C63" fill-rule="nonzero" />
                </svg>

                <svg class="brand-title" width="124px" height="33px" viewBox="87.3392 30.6526 155.2281 47.5509"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 196.85032593980912, 46.24094301821206)"
                        d="M0 0L9 0L21 26L39 67L71 139L81 158L83 162L53 162L51 147L38 117L36 110L-35 110L-38 119L-50 148L-52 159L-52 162L-98 162L-104 151L-117 133L-131 113L-143 96L-163 95L-166 94L-165 146L-163 162L-189 162L-187 130L-187 36L-188 16L-189 4L-164 3L-154 2L-139 2L-124 5L-112 11L-106 16L-100 25L-96 36L-96 55L-99 65L-104 74L-111 82L-122 89L-120 94L-107 112L-83 146L-75 156L-71 158L-69 153L-53 118L-37 82L-18 40L-5 11L0 0zM-158 10L-166 12L-166 86L-151 87L-138 84L-129 78L-123 71L-119 62L-118 58L-118 35L-122 24L-126 18L-134 12L-140 10zM-1 31L-24 84L-30 98L-30 100L30 100L29 94L11 54L2 33L1 31z"
                        stroke="none" fill="#F6AA63" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 134.4970996602937, 46.37193719106818)"
                        d="M0 0L20 0L36 3L49 8L60 14L71 23L79 32L87 45L92 60L94 70L94 95L90 112L82 129L74 139L64 149L51 157L38 162L29 164L15 165L-5 163L-21 158L-36 150L-48 139L-55 131L-62 119L-67 105L-69 94L-69 71L-65 53L-61 44L-55 33L-44 20L-32 11L-18 4L-7 1L0 0zM1 10L-11 13L-22 19L-32 28L-39 39L-44 54L-46 67L-46 84L-43 104L-38 119L-30 133L-19 144L-9 150L4 154L18 155L31 153L42 149L51 142L58 135L65 123L69 111L71 99L71 79L68 60L63 45L57 34L48 24L39 17L31 13L18 10z"
                        stroke="none" fill="#F6AA64" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 99.12867298914001, 46.37193719106818)"
                        d="M0 0L22 0L40 3L52 7L57 19L59 28L48 21L35 15L24 12L18 11L0 11L-17 15L-30 22L-37 28L-44 38L-49 49L-52 61L-53 70L-53 80L-51 96L-47 111L-39 127L-28 139L-17 146L-3 151L8 153L24 153L40 149L46 145L47 144L47 113L46 101L71 101L72 103L70 114L69 143L67 148L54 156L38 162L28 164L12 165L-9 163L-24 159L-41 151L-50 144L-62 132L-70 118L-74 107L-77 92L-77 73L-73 55L-65 39L-57 28L-49 20L-39 13L-25 6L-12 2L0 0z"
                        stroke="none" fill="#F6AA64" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 159.2549983301013, 46.37193719106818)"
                        d="M0 0L22 0L40 3L53 7L60 26L59 28L45 19L32 14L19 11L0 11L-16 15L-28 21L-39 31L-47 45L-51 58L-52 64L-52 87L-48 107L-42 121L-35 131L-31 136L-20 144L-7 150L9 153L24 153L38 150L46 146L48 143L48 119L46 101L72 101L70 119L69 146L60 153L45 160L28 164L12 165L-9 163L-24 159L-40 151L-51 143L-59 135L-66 125L-73 109L-76 95L-77 79L-75 64L-70 49L-62 35L-53 25L-46 18L-33 10L-22 5L-7 1L0 0z"
                        stroke="none" fill="#F6AA64" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 201.95909868119796, 30.783630621189324)"
                        d="M0 0L22 0L31 17L42 40L45 46L45 48L47 48L49 42L61 18L69 1L70 0L92 0L92 89L70 89L69 40L52 74L40 74L32 59L23 40L22 89L0 89L0 0z"
                        stroke="none" fill="#1F3F65" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 133.97312296886923, 30.783630621189324)"
                        d="M0 0L22 0L36 28L45 47L46 48L58 23L69 0L91 0L91 89L69 89L68 41L53 72L51 74L40 74L36 68L25 45L23 41L22 89L0 89L0 0z"
                        stroke="none" fill="#1B3C62" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 121.65967072039346, 46.502931363924304)"
                        d="M0 0L7 0L6 5L3 14L-8 13L-16 12L-52 12L-52 72L-17 70L-3 69L-4 78L-6 85L-42 82L-52 81L-52 150L-30 149L-7 146L8 143L7 154L5 161L-75 160L-73 142L-73 20L-75 2L-57 1L0 0z"
                        stroke="none" fill="#F6AA63" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 156.37312652726655, 30.783630621189324)"
                        d="M0 0L19 0L31 16L42 32L55 50L55 52L57 52L56 49L56 1L57 0L79 0L79 89L59 89L46 70L35 55L23 38L22 89L0 89L0 0z"
                        stroke="none" fill="#1B3C62" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 182.04798440706702, 30.652636448333205)"
                        d="M0 0L21 0L33 3L41 8L46 13L51 20L54 30L55 37L55 54L52 68L46 78L38 85L26 90L20 91L2 91L-10 88L-18 84L-26 76L-31 66L-33 57L-33 34L-30 22L-24 12L-17 6L-5 1L0 0zM3 19L-5 24L-9 30L-11 41L-11 50L-9 60L-5 67L0 71L3 72L18 72L26 68L30 62L32 55L32 36L29 27L25 22L18 19z"
                        stroke="none" fill="#1F3F65" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 190.69359981557125, 30.783630621189324)"
                        d="M0 0L49 0L61 3L68 8L72 14L75 24L75 35L72 44L66 52L59 57L64 64L74 87L74 89L51 89L44 74L39 64L39 62L22 61L22 89L0 89L0 0zM23 17L22 18L22 43L23 44L40 44L47 42L52 36L52 25L49 20L43 17z"
                        stroke="none" fill="#204066" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 234.96963024094146, 46.37193719106818)"
                        d="M0 0L16 0L31 4L37 7L36 28L33 27L27 18L22 14L16 11L5 10L-5 13L-10 18L-13 24L-14 33L-11 45L-1 59L14 74L22 81L34 94L41 105L45 115L46 120L46 128L43 141L36 152L27 159L18 163L2 165L-13 163L-27 158L-34 154L-33 136L-32 129L-28 130L-24 139L-18 147L-9 152L-2 154L7 154L16 151L21 147L25 139L26 130L24 120L18 109L6 96L-7 84L-19 72L-28 58L-31 49L-32 44L-32 33L-30 24L-24 14L-17 7L-7 2L0 0z"
                        stroke="none" fill="#F6AB64" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 219.5123178439187, 46.502931363924304)"
                        d="M0 0L8 0L5 10L3 14L-15 12L-53 12L-53 68L-46 67L-12 65L-2 65L-4 77L-5 80L-14 80L-35 78L-52 77L-52 144L-50 160L-76 160L-74 129L-74 33L-75 13L-76 2L-58 1L0 0z"
                        stroke="none" fill="#F6AA64" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 124.01756583180374, 30.783630621189324)"
                        d="M0 0L65 0L65 17L22 17L22 36L60 36L60 53L22 53L22 72L65 72L65 89L0 89L0 0z" stroke="none"
                        fill="#193A61" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 219.90530036248708, 30.783630621189324)"
                        d="M0 0L24 0L43 50L57 87L57 89L34 89L27 72L27 69L-3 70L-10 88L-11 89L-34 89L-31 79L-1 1L0 0zM11 22L0 50L0 52L23 52L20 42L12 22z"
                        stroke="none" fill="#1F3F65" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 92.31697600062151, 30.652636448333205)"
                        d="M0 0L23 0L37 3L38 4L38 22L20 19L7 19L0 21L-1 22L-1 31L8 34L24 39L32 43L38 48L42 56L43 61L43 69L40 78L33 85L25 89L15 91L-5 91L-20 88L-24 86L-24 68L-22 67L-10 71L-5 72L13 72L18 70L19 68L19 62L14 57L-8 50L-17 45L-23 38L-25 32L-25 20L-21 11L-13 4L0 0z"
                        stroke="none" fill="#214166" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 107.11931753336363, 30.652636448333205)"
                        d="M0 0L22 0L36 3L37 4L37 22L26 20L19 19L7 19L-2 21L-2 29L4 33L24 39L34 45L40 52L42 59L42 70L39 78L35 83L27 88L15 91L-6 91L-21 88L-24 86L-24 67L-11 71L-6 72L12 72L18 69L18 61L13 57L-11 49L-20 43L-25 35L-26 22L-22 11L-15 5L-6 1L0 0z"
                        stroke="none" fill="#1F3F65" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 231.0398050552577, 30.652636448333205)"
                        d="M0 0L22 0L37 3L37 22L27 20L20 19L7 19L0 21L-2 24L-1 30L8 34L26 40L34 45L40 52L42 57L42 72L38 80L31 86L21 90L15 91L-6 91L-21 88L-24 86L-24 67L-6 72L12 72L19 70L19 63L17 59L1 53L-13 48L-20 43L-25 33L-25 19L-21 11L-16 6L-9 2L0 0z"
                        stroke="none" fill="#1E3E64" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 223.44214302960248, 46.76491970963656)"
                        d="M0 0L26 0L24 15L24 143L26 158L0 158L1 145L2 118L2 39L1 13L0 0z" stroke="none" fill="#F6A962"
                        fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 168.55558460288614, 30.783630621189324)"
                        d="M0 0L64 0L64 17L22 17L22 36L59 36L59 53L22 53L22 89L0 89L0 0z" stroke="none" fill="#193A61"
                        fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 113.01405531188924, 30.783630621189324)"
                        d="M0 0L74 0L74 17L48 17L48 89L26 89L26 17L0 17L0 0z" stroke="none" fill="#193A61"
                        fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 238.11349038948845, 30.783630621189324)"
                        d="M0 0L22 0L22 89L0 89L0 0z" stroke="none" fill="#234268" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 151.65733630444603, 30.783630621189324)"
                        d="M0 0L22 0L22 89L0 89L0 0z" stroke="none" fill="#193A61" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 99.39066133485227, 30.783630621189324)"
                        d="M0 0L22 0L22 89L0 89L0 0z" stroke="none" fill="#193A61" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 235.7555952780782, 75.32164939227177)"
                        d="M0 0L5 0L9 14L13 0L18 0L22 14L26 0L30 0L29 8L25 22L19 22L16 11L15 10L11 22L6 22L0 2L0 0z"
                        stroke="none" fill="#415C7C" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 213.8795684111053, 75.32164939227177)"
                        d="M0 0L5 0L11 12L11 15L13 15L16 6L19 0L24 0L24 22L20 22L19 11L14 22L10 22L6 12L5 22L0 22L0 0z"
                        stroke="none" fill="#3C5879" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 198.16026766837038, 75.32164939227177)"
                        d="M0 0L5 0L11 14L13 11L18 0L23 0L23 22L19 22L18 11L13 22L9 21L5 11L4 22L-1 21L-1 1L0 0z"
                        stroke="none" fill="#425D7D" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 92.05498765490927, 75.32164939227177)"
                        d="M0 0L5 1L11 15L18 0L23 0L23 22L19 22L18 11L13 22L9 21L5 12L4 22L-1 21L-1 1L0 0z"
                        stroke="none" fill="#466180" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 209.9497432254216, 75.32164939227177)"
                        d="M0 0L5 0L13 12L14 0L19 0L19 22L14 22L6 10L4 9L4 22L0 22L0 0z" stroke="none" fill="#405C7C"
                        fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 150.47838874874094, 75.32164939227177)"
                        d="M0 0L5 0L13 12L14 0L19 0L19 22L14 22L6 10L4 9L4 22L0 22L0 0z" stroke="none" fill="#405C7C"
                        fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 136.20002390742331, 75.32164939227177)"
                        d="M0 0L5 0L13 12L14 1L19 0L19 22L14 22L6 10L5 9L4 22L0 22L0 0z" stroke="none" fill="#4C6684"
                        fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 156.37312652726655, 75.32164939227177)"
                        d="M0 0L5 0L13 12L14 1L19 0L19 22L14 22L6 10L5 9L4 22L0 22L0 0z" stroke="none" fill="#486281"
                        fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 106.07136415051463, 75.32164939227177)"
                        d="M0 0L5 1L13 13L14 0L18 0L18 22L13 21L5 10L4 22L-1 21L-1 1L0 0z" stroke="none" fill="#4A6482"
                        fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 220.5602712267677, 75.32164939227177)"
                        d="M0 0L5 1L13 13L14 0L18 0L18 22L13 21L6 11L5 9L4 22L-1 21L-1 1L0 0z" stroke="none"
                        fill="#3E5A7A" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 165.67371280005142, 75.32164939227177)"
                        d="M0 0L12 0L16 3L16 8L14 11L17 16L14 21L12 22L0 22L0 0zM4 4L4 9L11 9L12 6L11 4zM4 13L4 18L11 18L12 14L11 13z"
                        stroke="none" fill="#466180" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 130.43628030175384, 75.32164939227177)"
                        d="M0 0L10 0L16 3L19 10L17 18L11 22L0 22L-1 21L-1 1L0 0zM4 4L4 18L10 18L14 14L14 8L10 4z"
                        stroke="none" fill="#486281" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 224.3591022395953, 75.32164939227177)"
                        d="M0 0L7 0L13 4L13 7L8 7L8 5L1 5L-2 8L-2 14L1 17L7 17L9 13L2 13L2 10L14 10L14 16L9 21L7 22L0 22L-6 18L-8 13L-7 6L-3 1L0 0z"
                        stroke="none" fill="#345173" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 227.3719682152862, 75.32164939227177)"
                        d="M0 0L8 0L13 3L14 7L9 7L9 5L1 5L-1 8L-1 14L2 17L9 16L10 13L3 13L3 10L15 10L14 17L8 22L1 22L-5 18L-7 14L-7 8L-3 2L0 0z"
                        stroke="none" fill="#335073" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 180.34506015993736, 75.32164939227177)"
                        d="M0 0L11 0L17 3L19 7L19 15L17 19L11 22L0 22L0 0zM4 4L4 18L11 18L14 16L15 9L13 5L11 4z"
                        stroke="none" fill="#385476" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 162.79184099721667, 75.32164939227177)"
                        d="M0 0L5 0L6 16L11 17L13 17L13 1L18 0L18 16L16 20L12 22L6 22L2 20L0 16L0 0z" stroke="none"
                        fill="#486281" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 240.99536219232317, 75.32164939227177)"
                        d="M0 0L5 0L9 10L12 18L12 22L8 22L7 18L-2 18L-3 22L-8 22L-1 1L0 0zM2 6L0 11L0 14L5 14L4 8z"
                        stroke="none" fill="#445E7E" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 184.143891172765, 75.32164939227177)"
                        d="M0 0L5 0L10 12L13 22L8 22L7 18L-2 18L-3 22L-7 22L-6 15L0 0zM2 6L0 11L0 14L5 14L4 8z"
                        stroke="none" fill="#3D597A" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 202.61406954547863, 75.32164939227177)"
                        d="M0 0L5 0L10 12L13 22L8 22L7 18L-2 18L-3 22L-7 22L-6 16L0 0zM2 6L0 11L0 14L5 14L4 8z"
                        stroke="none" fill="#405B7B" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 124.80353086894046, 75.32164939227177)"
                        d="M0 0L5 0L9 8L13 20L13 22L8 21L8 18L-2 18L-3 22L-7 22L-6 17L0 0zM2 7L0 14L6 14L4 7z"
                        stroke="none" fill="#3E597A" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 148.38248198304294, 75.32164939227177)"
                        d="M0 0L5 0L9 9L13 20L13 22L8 21L7 19L-2 18L-3 22L-7 22L-5 13L0 0zM2 6L0 14L6 14L3 6z"
                        stroke="none" fill="#415C7C" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 142.88072672308567, 75.32164939227177)"
                        d="M0 0L5 0L10 12L13 22L8 22L7 19L-2 18L-3 22L-7 22L-5 13L0 0zM2 6L0 14L6 14L3 6z" stroke="none"
                        fill="#415C7C" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 103.97545738481664, 75.32164939227177)"
                        d="M0 0L5 0L12 19L12 22L7 21L7 18L-2 19L-4 22L-8 22L-5 12L-1 1L0 0zM2 6L-1 14L5 14L3 6z"
                        stroke="none" fill="#3C5879" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 134.10411714172534, 75.32164939227177)"
                        d="M0 0L5 0L9 9L13 20L13 22L8 21L7 19L-2 18L-3 22L-7 22L-6 16L0 0zM2 6L0 14L6 14L3 6z"
                        stroke="none" fill="#3D5879" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 218.4643644610697, 75.32164939227177)"
                        d="M0 0L5 0L12 19L12 22L8 22L7 18L-2 19L-4 22L-8 22L-5 12L0 0zM2 6L-1 14L5 14L3 6z"
                        stroke="none" fill="#405B7C" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 207.8538364597236, 75.32164939227177)"
                        d="M0 0L5 0L9 9L13 20L13 22L8 21L7 19L-2 18L-3 22L-7 22L-5 13L0 0zM2 6L0 14L6 14L3 6z"
                        stroke="none" fill="#3D5979" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 196.06436090267238, 75.32164939227177)"
                        d="M0 0L5 0L12 19L12 22L8 22L7 18L-2 19L-4 22L-8 22L-5 12L0 0zM2 6L-1 14L5 14L3 6z"
                        stroke="none" fill="#3C5879" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 154.27721976156855, 75.32164939227177)"
                        d="M0 0L5 0L9 9L13 20L13 22L8 21L8 18L-2 18L-3 22L-7 22L-6 17L0 0zM2 7L0 14L6 14L4 7z"
                        stroke="none" fill="#3B5778" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 100.96259140912576, 75.32164939227177)"
                        d="M0 0L5 0L9 9L13 20L13 22L8 21L8 18L-2 18L-3 22L-7 22L-6 16L0 0zM2 6L0 14L6 14L3 6z"
                        stroke="none" fill="#3D597A" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 113.01405531188924, 75.32164939227177)"
                        d="M0 0L5 0L12 19L12 22L8 22L7 18L-2 19L-4 22L-8 22L-5 12L0 0zM2 6L-1 14L5 14L3 6z"
                        stroke="none" fill="#3D597A" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 178.24915339423939, 75.32164939227177)"
                        d="M0 0L5 0L9 9L13 20L13 22L8 21L8 18L-2 18L-3 22L-7 22L-6 17L0 0zM2 7L0 14L6 14L4 7z"
                        stroke="none" fill="#3B5778" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 171.30646223286476, 75.32164939227177)"
                        d="M0 0L4 0L5 8L12 0L17 0L14 5L10 10L12 14L17 20L17 22L12 22L6 15L4 14L4 22L0 22L0 0z"
                        stroke="none" fill="#3B5778" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 192.78950658126922, 75.32164939227177)"
                        d="M0 0L8 0L13 3L14 7L9 7L9 5L1 5L-1 8L-1 14L1 17L7 17L9 15L14 15L12 20L8 22L1 22L-5 18L-7 13L-6 6L-2 1L0 0z"
                        stroke="none" fill="#375375" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 187.15675714845588, 75.32164939227177)"
                        d="M0 0L4 0L4 9L9 4L12 0L17 0L15 4L10 10L12 14L17 20L17 22L12 22L5 14L4 22L0 22L0 0z"
                        stroke="none" fill="#3B5778" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 160.4339458858064, 75.32164939227177)"
                        d="M0 0L10 0L14 2L15 4L15 10L12 13L4 14L4 22L-1 21L-1 1L0 0zM4 4L4 10L9 10L11 8L10 4z"
                        stroke="none" fill="#5D748F" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 95.72282449488077, 75.32164939227177)"
                        d="M0 0L12 0L12 4L4 4L4 9L11 9L10 13L4 13L4 18L12 18L12 22L0 22L-1 21L-1 1L0 0z" stroke="none"
                        fill="#6D819A" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 115.50294459615561, 75.32164939227177)"
                        d="M0 0L7 0L11 3L11 6L1 4L1 8L10 11L12 17L7 22L0 22L-4 18L-4 16L1 16L1 18L6 17L7 14L-2 11L-4 9L-3 2L0 0z"
                        stroke="none" fill="#385476" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 127.42341432606297, 75.32164939227177)"
                        d="M0 0L7 0L11 4L11 6L6 6L6 4L1 5L1 7L10 11L11 13L11 19L7 22L0 22L-4 19L-4 16L1 16L1 18L6 17L5 14L-3 10L-4 9L-4 3L0 0z"
                        stroke="none" fill="#355274" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 233.7906826852363, 75.32164939227177)"
                        d="M0 0L13 0L13 4L4 4L4 9L12 9L11 13L4 13L4 18L13 18L13 22L0 22L0 0z" stroke="none"
                        fill="#5A728E" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 229.7298633266965, 75.32164939227177)"
                        d="M0 0L13 0L13 4L4 4L4 9L12 9L11 13L4 13L4 18L13 18L13 22L0 22L0 0z" stroke="none"
                        fill="#5D748F" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 174.9742990728363, 75.32164939227177)"
                        d="M0 0L11 0L16 5L15 11L9 14L4 14L4 22L0 22L0 0zM4 4L4 10L10 10L11 5L10 4z" stroke="none"
                        fill="#3F5B7B" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 87.33919743208878, 75.32164939227177)"
                        d="M0 0L11 0L16 5L15 11L12 13L5 14L4 22L0 22L0 0zM4 4L4 10L10 10L11 5L10 4z" stroke="none"
                        fill="#395577" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 89.82808671635514, 75.32164939227177)"
                        d="M0 0L12 0L12 4L4 4L4 9L11 9L12 12L11 13L4 13L4 18L12 18L12 22L0 22L0 0z" stroke="none"
                        fill="#546C89" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 189.9076347784345, 75.32164939227177)"
                        d="M0 0L12 0L12 4L4 4L4 9L11 9L11 13L4 13L4 18L12 18L12 22L0 22L0 0z" stroke="none"
                        fill="#526B88" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 144.84563931592754, 75.32164939227177)"
                        d="M0 0L5 1L9 8L13 0L18 0L12 13L11 22L6 21L5 12L0 3L0 0z" stroke="none" fill="#415C7C"
                        fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 204.57898213832047, 75.32164939227177)"
                        d="M0 0L16 0L16 4L10 4L10 22L5 21L5 4L0 4L0 0z" stroke="none" fill="#7A8DA3"
                        fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 97.68773708772264, 75.32164939227177)"
                        d="M0 0L16 0L16 4L10 4L10 22L5 21L5 4L0 4L0 0z" stroke="none" fill="#637A94"
                        fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 110.00118933619837, 75.32164939227177)"
                        d="M0 0L13 0L13 4L4 4L4 9L11 9L11 13L4 13L4 22L0 22L0 0z" stroke="none" fill="#556D8A"
                        fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 121.52867654753736, 75.32164939227177)"
                        d="M0 0L16 0L16 4L10 4L10 22L6 22L6 4L0 4L0 0z" stroke="none" fill="#506987"
                        fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 140.26084326596322, 75.32164939227177)"
                        d="M0 0L4 0L4 19L10 18L11 22L0 22L-1 21L-1 1L0 0z" stroke="none" fill="#72869E"
                        fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 118.6468047447026, 75.32164939227177)"
                        d="M0 0L4 0L5 18L12 19L12 22L0 22L0 0z" stroke="none" fill="#3D5879" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 231.95676426525057, 75.32164939227177)"
                        d="M0 0L4 0L5 18L10 18L11 22L0 22L0 0z" stroke="none" fill="#3C5879" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 168.29359625717393, 75.32164939227177)"
                        d="M0 0L4 0L5 18L11 19L11 22L0 22L0 0z" stroke="none" fill="#3A5677" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 170.25850885001577, 75.32164939227177)"
                        d="M0 0L4 0L4 22L-1 21L-1 1L0 0z" stroke="none" fill="#7E91A6" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 120.61171733754448, 75.32164939227177)"
                        d="M0 0L4 0L4 22L-1 21L-1 1L0 0z" stroke="none" fill="#7C8FA5" fill-rule="nonzero" />
                    <path
                        transform="matrix(0.13099417090415955, 0, 0, 0.13099417090415955, 117.5988513618536, 75.32164939227177)"
                        d="M0 0L4 0L4 22L-1 21L-1 1L0 0z" stroke="none" fill="#788BA2" fill-rule="nonzero" />
                </svg>

            </a>
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="dashboard_bar">
                                Tambah Fasilitas <%=jenisFasilitas%>
                            </div>
                        </div>
                        <ul class="navbar-nav header-right">



                            <li class="nav-item dropdown notification_dropdown">
                                <a class='nav-link' id='settings' href='javascript:void(0);'>
                                    <svg fill='#4f7086' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg'
                                        xmlnsXlink='http://www.w3.org/1999/xlink' width='28' height='28'
                                        viewBox='0 0 45.973 45.973' xmlSpace='preserve'>
                                        <g>
                                            <g>
                                                <path
                                                    d='M43.454,18.443h-2.437c-0.453-1.766-1.16-3.42-2.082-4.933l1.752-1.756c0.473-0.473,0.733-1.104,0.733-1.774 c0-0.669-0.262-1.301-0.733-1.773l-2.92-2.917c-0.947-0.948-2.602-0.947-3.545-0.001l-1.826,1.815 C30.9,6.232,29.296,5.56,27.529,5.128V2.52c0-1.383-1.105-2.52-2.488-2.52h-4.128c-1.383,0-2.471,1.137-2.471,2.52v2.607 c-1.766,0.431-3.38,1.104-4.878,1.977l-1.825-1.815c-0.946-0.948-2.602-0.947-3.551-0.001L5.27,8.205 C4.802,8.672,4.535,9.318,4.535,9.978c0,0.669,0.259,1.299,0.733,1.772l1.752,1.76c-0.921,1.513-1.629,3.167-2.081,4.933H2.501 C1.117,18.443,0,19.555,0,20.935v4.125c0,1.384,1.117,2.471,2.501,2.471h2.438c0.452,1.766,1.159,3.43,2.079,4.943l-1.752,1.763 c-0.474,0.473-0.734,1.106-0.734,1.776s0.261,1.303,0.734,1.776l2.92,2.919c0.474,0.473,1.103,0.733,1.772,0.733 s1.299-0.261,1.773-0.733l1.833-1.816c1.498,0.873,3.112,1.545,4.878,1.978v2.604c0,1.383,1.088,2.498,2.471,2.498h4.128 c1.383,0,2.488-1.115,2.488-2.498v-2.605c1.767-0.432,3.371-1.104,4.869-1.977l1.817,1.812c0.474,0.475,1.104,0.735,1.775,0.735 c0.67,0,1.301-0.261,1.774-0.733l2.92-2.917c0.473-0.472,0.732-1.103,0.734-1.772c0-0.67-0.262-1.299-0.734-1.773l-1.75-1.77 c0.92-1.514,1.627-3.179,2.08-4.943h2.438c1.383,0,2.52-1.087,2.52-2.471v-4.125C45.973,19.555,44.837,18.443,43.454,18.443z M22.976,30.85c-4.378,0-7.928-3.517-7.928-7.852c0-4.338,3.55-7.85,7.928-7.85c4.379,0,7.931,3.512,7.931,7.85 C30.906,27.334,27.355,30.85,22.976,30.85z'>
                                                </path>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </li>
                            <li class='nav-item'>
                                <a href='/admin/<%=jenisFasilitas%>' class='btn btn-primary'>
                                    <i class='las la-arrow-left scale5'></i> Kembali
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <%- include('../template/sidebar.ejs') %>

        <div class="content-body">
            <div class="container-fluid">
                <div class="row invoice-card-row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="nama_fasilitas">Nama Fasilitas <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="nama_fasilitas"
                                                    name="nama_fasilitas" placeholder="Masukkan nama fasilitas.."
                                                    required>
                                                <div class="invalid-feedback">
                                                    Harap masukkan nama fasilitas.
                                                </div>
                                            </div>
                                            <input type="hidden" id="idjenis" name="idjenis" value="<%=idJenisfasil%>">

                                            <div class="mb-3">
                                                <label class="form-label" for="jam_buka">Jam Buka <span
                                                        class="text-danger">*</span></label>
                                                <div class="input-group clockpicker" data-placement="bottom"
                                                    data-align="top" data-autoclose="true">
                                                    <input type="text" class="form-control" id="jam_buka"
                                                        name="jam_buka" value="09:30">
                                                    <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="jam_tutup">Jam Tutup <span
                                                        class="text-danger">*</span></label>
                                                <div class="input-group clockpicker" data-placement="bottom"
                                                    data-align="top" data-autoclose="true">
                                                    <input type="text" class="form-control" id="jam_tutup"
                                                        name="jam_tutup" value="17:30">
                                                    <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xl-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="latitude">Latitude</label>
                                                <input type="number" class="form-control" id="latitude" name="latitude"
                                                    step="0.000001" placeholder="Masukkan latitude..">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="longitude">Longitude</label>
                                                <input type="number" class="form-control" id="longitude"
                                                    name="longitude" step="0.000001" placeholder="Masukkan longitude..">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="alamat">Alamat <span
                                                        class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="alamat" name="alamat"
                                                        placeholder="Masukkan alamat.." required>
                                                    <button type="button" class="btn btn-primary"
                                                        onclick="generateAddress()">Generate</button>
                                                </div>
                                                <div class="invalid-feedback">Harap masukkan alamat.</div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="fasilitas">Fasilitas</label>
                                                <select class="multi-select" id="fasilitas" name="fasilitas[]"
                                                    multiple="multiple">
                                                    <% listFasilitas.forEach(fasilitas => { %>
                                                    <option value="<%= fasilitas %>"><%= fasilitas %></option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="col-xl-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="foto">Foto</label>
                                                <input type="file" class="form-control" id="foto" name="foto"
                                                    onchange="previewImage(this);">
                                                <img id="imagePreview" src="#" alt="Image Preview"
                                                    style="display: none; max-width: 200px; max-height: 200px; margin-top: 10px;">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="deskripsi">Deskripsi</label>
                                                <textarea class="form-control" id="deskripsi" name="deskripsi" rows="5"
                                                    placeholder="Deskripsikan fasilitas.." required></textarea>
                                            </div>


                                        </div>

                                        <div class="col-12">
                                            <div class="mb-3">
                                                <button type="submit" class="btn btn-primary"
                                                    onclick="submitForm()">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <%- include('../template/footer.ejs') %>
        <script>
            function generateDescription() {
                const nama_instansi = document.getElementById('nama_fasilitas').value;
                const fasilitas = Array.from(document.getElementById('fasilitas').selectedOptions).map(opt =>
                    opt.value).join(',');
                const alamat = document.getElementById('alamat').value;
                const jam_buka = document.getElementById('jam_buka').value;
                const jam_tutup = document.getElementById('jam_tutup').value;
                console.log(nama_instansi);
                fetch('/ai/generate-description', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            nama_instansi,
                            kepala,
                            fasilitas,
                            alamat,
                            jam_buka,
                            jam_tutup
                        }),
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        document.getElementById('deskripsi_singkat').value = ''
                        document.getElementById('deskripsi_singkat').value = data.description;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Gagal menghasilkan deskripsi singkat. Silakan coba lagi.'
                        });
                    });
            }

            function generateAddress() {
                const lat = document.getElementById('latitude').value;
                const lng = document.getElementById('longitude').value;

                // Validasi apakah latitude atau longitude kosong
                if (!lat || !lng) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Latitude dan Longitude harus diisi untuk menghasilkan alamat.'
                    });
                    return;
                }

                const apiKey = 'AIzaSyD4P3rMVrMzwD_8l1I1ETldunN6Vdx7Tqk'; // Ganti dengan API Key Anda

                fetch(`https://maps.googleapis.com/maps/api/geocode/json?latlng=${lat},${lng}&key=${apiKey}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to fetch address');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.results.length > 0) {
                            const addressComponents = data.results[0].address_components;
                            // Cari dan gabungkan komponen alamat kecuali kode lokasi (G74X+F8V)
                            const filteredAddress = addressComponents
                                .filter(component => !component.types.includes('plus_code'))
                                .map(component => component.long_name)
                                .join(', ');

                            document.getElementById('alamat').value = filteredAddress;
                        } else {
                            document.getElementById('alamat').value = 'Alamat tidak ditemukan';
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching address:', error);
                        document.getElementById('alamat').value = 'Error: Gagal mengambil alamat';
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Gagal mengambil alamat dari Google Maps. Silakan coba lagi.'
                        });
                    });
            }


           async function submitForm() {
                const formData = new FormData();
                formData.append('nama_fasilitas', document.getElementById('nama_fasilitas').value);
                formData.append('jam_buka', document.getElementById('jam_buka').value);
                formData.append('jam_tutup', document.getElementById('jam_tutup').value);
                formData.append('alamat', document.getElementById('alamat').value);
                formData.append('latitude', document.getElementById('latitude').value);
                formData.append('longitude', document.getElementById('longitude').value);
                formData.append('deskripsi', document.getElementById('deskripsi').value);

                // Mengambil fasilitas yang dipilih
                const fasilitas = Array.from(document.getElementById('fasilitas').selectedOptions).map(opt =>
                    opt.value).join(',');
                formData.append('fasilitas', fasilitas);

                // Menambahkan idjenis jika diperlukan
                const idjenis = document.getElementById('idjenis').value;
                formData.append('idjenis', idjenis);

                // Menambahkan foto jika ada
                const foto = document.getElementById('foto').files[0];
                if (foto) {
                    formData.append('foto', foto);
                }

                try {
                    const response = await fetch('/fasilitas', {
                        method: 'POST',
                        body: formData
                    });

                    const data = await response.json();
                    if (response.ok) {
                        // Handle success response
                        sessionStorage.setItem('submitSuccess', 'Data berhasil ditambah!');
                        // Redirect to admin page (sesuaikan URL ini jika diperlukan)
                        window.location.href = '/admin/<%=jenisFasilitas%>';
                    } else {
                        // Login gagal
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: data.message,
                        });
                    }
                } catch (error) {
                    // Handle error
                    console.error('Error:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: error.message // Pesan kesalahan yang diambil dari server
                    });
                }
            }


            function previewImage(input) {
                const file = input.files[0];
                const reader = new FileReader();

                reader.onload = function (e) {
                    const preview = document.getElementById('imagePreview');
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                };

                reader.readAsDataURL(file);
            }
        </script>